{% extends 'base.html.twig' %}

{% block body %}
    <tr>
        <td>
            <ul class="list-inline">
                {% for actor in actors %}
                    <li>
                        <h1><a href="{{ path('actor_show', {'slug': actor.slug}) }}">- {{ actor.name }}</a></h1>
                    </li>

                {% else %}
                    <li>Aucun acteur trouvé.</li>
                {% endfor %}
            </ul>


        </td>
    </tr>

{% endblock %}