{% extends 'base.html.twig' %}

{% block body %}
<div class="home-background">

    <div class="home-enter">
        <h3>Entrer</h3>
        <svg class="home-enter-arrow" style="width: 100px;height: 100px;">
            <use xlink:href="/img/arrow.svg#arrow">
        </svg>
    </div>

    <div class="home-message">
        <p>Synergistically visualize 24/7 e-commerce before tactical paradigms.</p>
    </div>

    <div class="home-card-container">
        <div class="first-line">
            <div class="home-card"><img class="test" src="/img/movies/sex.png"></div>
            <div class="home-card"><img src="/img/movies/ironfist.png"></div>
            <div class="home-card"><img src="/img/movies/dardevil.png"></div>
            <div class="home-card"><img src="/img/movies/100.jpg"></div>
        </div>
        <div class="second-line">
            <div class="home-card"><img src="/img/movies/cp.png"></div>
            <div class="home-card"><img src="/img/movies/lock.png"></div>
            <div class="home-card"><img src="/img/movies/st.png"></div>
            <div class="home-card"><img src="/img/movies/witcher.png"></div>
        </div>
    </div>
</div>
{% endblock %}
