<nav class="side-menu-container" id="menu" style="">
    <div class="side-menu-links">
        <div class="side-menu-open" >
            <a class="menu-link" onclick="openMenu()">Menu</a>
        </div>

        <svg class="side-menu-close" onclick="closeMenu()">
            <use xlink:href="/img/close.svg#close-menu">
        </svg>

        <ul class="links">
            <li>
                <a href="{{ path('wild_index') }}">All Programs</a>
            </li>
            <li>
                <a href="{{ path('season_index') }}">Season</a>
            </li>
            <li>
                <a href="{{ path('episode_index') }}">Episode</a>
            </li>
            <li>
                <a href="{{ path('program_index') }}">Programs</a>
            </li>
        </ul>
    </div>
</nav>
<div>
    <svg class="side-menu-login" onclick="">
        <use xlink:href="/img/login.svg#login">
    </svg>
</div>